@import url(reset.css);

body{
	position: relative;
	/*overflow-x: hidden;*/
	width: 100%;
}
@media(min-width:1200px){
	.container{
		width: 1200px;
	}
}

.mobile-menu-toggle{
	position: absolute;
	right: 15px;
	top: 0;
	margin: 10px 0;
	padding: 8px 0;
}


.mobile-menu-toggle .menu-toggle{
	width: 16px;
	height: 14px;
	display: block;
	position: relative;
}


.mobile-menu-toggle .menu-toggle span{
	position: absolute;
	top: 50%;
	margin-top: -1px;
	width: 100%;
	height: 2px;
	transition: -webkit-transform 0.14s ease;
	transition: transform 0.14s ease;
	transition: transform 0.14s ease, -webkit-transform 0.14s ease
}


.mobile-menu-toggle .menu-toggle span:after, .mobile-menu-toggle .menu-toggle span:before{
	content: '';
	width: 100%;
	height: 2px;
	background-color: #636363;
	border-radius: 0px;
	position: absolute;
}


.mobile-menu-toggle .menu-toggle span:before{
	top: -5px;
}


.mobile-menu-toggle .menu-toggle span:after{
	bottom: -5px;
}


.mobile-menu-toggle .menu-toggle span:before{
	transition: top 0.14s ease 0.14s;
}


.mobile-menu-toggle .menu-toggle span:after{
	transition: bottom 0.14s ease 0.14s,-webkit-transform 0.14s ease;
	transition: transform 0.14s ease,bottom 0.14s ease 0.14s;
	transition: transform 0.14s ease,bottom 0.14s ease 0.14s,-webkit-transform 0.14s ease;
}


.mobile-menu-toggle.active .menu-toggle span{
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: -webkit-transform 0.14s ease 0.14s;
	transition: transform 0.14s ease 0.14s;
	transition: transform 0.14s ease 0.14s, -webkit-transform 0.14s ease 0.14s;
}


.mobile-menu-toggle.active .menu-toggle span:after{
	bottom: 0;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transition: bottom 0.14s ease,-webkit-transform 0.14s ease 0.14s;
	transition: bottom 0.14s ease,transform 0.14s ease 0.14s;
	transition: bottom 0.14s ease,transform 0.14s ease 0.14s,-webkit-transform 0.14s ease 0.14s;
}


.mobile-menu-toggle.active .menu-toggle span:before{
	top: 0;
	transition: top 0.14s ease;
}

.header{
	position: relative;
	padding: 8px 0;
	@media(max-width:992px){
		padding-bottom: 0;
	}
	@media(max-width:768px){
		padding: 0;
		z-index: 1;
	}
	.col-sm-6{
		padding: 0;
	}
	.brand{
		@media(max-width:768px){
			height: 50px;
			display: flex;
			align-items: center;
		}
		&,a{
			display: block;
		}
		img{
			max-width:234px;
			width: 100%;
		}
	}
	.tel{
		h3{
			padding-left: 40px;
			font-size: 20px;
			color: #434242;
			background:url(../img/hico2.png) left center no-repeat;
		}
		p{
			font-size: 22px;
			color: #0469b4;
			line-height: 1;
			font-weight: bold;
			span{
				white-space: nowrap;
				&+span{
					padding-left: 10px;
				}
			}
		}
	}
	.nav{
		overflow: hidden;
		@media(min-width:768px){
			display: block!important;
		}
		@media(max-width:768px){
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: #fff;
			border-bottom: 1px solid gray;
			display: none;
			a{
				float: none;
				display: block;
				padding-left: 10px;
				transition: 0.3s;
				&:active,
				&:hover{
					background: #ccc;
				}
				&+a{
					padding-left: 10px;
				}
			}
		}
		a{
			float: left;
			font-size: 18px;
			color: #353434;
			line-height: 50px;
			&+a{
				padding-left: 4.5%;
			}
		}
	}
}
.main{
	.banner{
		a{
			&,img{
				display: block;
				width: 100%;
			}
		}
	}
	.public-title{
		text-align: center;
		.content{
			padding: 40px 0;
			display: inline-block;
			padding-left: 80px;
			text-align: left;
			background:url(../img/hico10.png) left center no-repeat;
			@media(max-width:768px){
				padding-left: 0;
				background: none;
				text-align: center;
			}
			h3{
				font-size: 30px;
				color: #59595b;
				line-height: 1.2;
				@media(max-width:768px){
					font-size: 26px;
				}
				span{
					color: #0174b3;
					font-size: 35px;
					@media(max-width:768px){
						font-size: 30px;
					}
				}
			}
			p{
				font-size: 22px;
				color: #767676;
				@media(max-width:768px){
					font-size: 18px;
				}
			}
		}
	}
	.apply{
		.form{
			padding-bottom: 10px;
			margin: 0 auto;
			max-width: 870px;
			select,input{
				box-shadow: none;
				appearance: none;
				margin-bottom: 10px;
				display: block;
				width: 100%;
				outline: none;
				box-sizing: border-box;
				padding: 10px;
				font-size: 14px;
				color: #363636;
				line-height: 1;
				border: 1px solid #dfdfdf;
				box-shadow: none;
				background: none;
				height: 36px;
			}
			select{
				background:url(../img/hico11.png) right 15px center/20px 12px no-repeat;
			}
			input{
				&::placeholder{
					font-family: 'microsoft yahei';
					line-height: 1;
					padding-top: 2px;
				}
			}
		}
		.test{
			.test-header{
				position: relative;
				font-size: 50px;
				color: #fbffff;
				line-height: 1.2;
				background: #0174b3;
				text-align: center;
				@media(max-width:1200px){
					font-size: 30px;
				}
				@media(max-width:1200px){
					padding: 8px 0;
					font-size: 26px;
				}
				&:after{
					content:'';
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 105px;
					height: 210px;
					background:#fff url(../img/hico35.png) center center/100% 100% no-repeat;
					@media(max-width:1200px){
						display: none;
					}
				}
				&:before{
					content:'';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 126px;
					height: 70px;
					transform: translateY(100%);
					background:linear-gradient(29.05deg,#fff 45%,#00689e 46%,#00689e 100%);
					@media(max-width:1200px){
						display: none;
					}
				}
				span{
					font-size: 70px;
					color: #9cdcff;
					@media(max-width:1200px){
						font-size: 40px;
					}
					@media(max-width:1200px){
						font-size: 30px;
					}
				}
			}
			.body{
				margin: 0 105px 0 126px;
				background: #f6f6f6;
				@media(max-width:768px){
					margin: 0;
				}
				.pic{
					overflow: hidden;
					img{
						display: block;
						margin: 5% auto;
						width: 80%;
						max-width:490px;
					}
				}
				.btn-group{
					text-align: center;
					font-size: 0;
					padding-bottom: 5%;
					white-space: nowrap;
					a{
						display: inline-block;
						max-width: 190px;
						width: 40%;
						line-height: 47px;
						font-size: 22px;
						color: #fff;
						background: #0174b3;
						border-radius: 5px;
						margin: 0 5%;
						@media(max-width:768px){
							font-size: 18px;
						}
					}
				}
			}
		}
		.list{
			margin-top: 3%;
			margin-bottom: 3%;
			margin-left: -2%;
			overflow: hidden;
			@media(max-width:768px){
				margin-top: 15px;
				margin-bottom: 15px;
			}
			li{
				margin-left: 2%;
				float: left;
				width: 18%;
				@media(max-width:768px){
					width: 48%;
					&:nth-child(2)~li{
						margin-top: 2%;
					}
					&:nth-child(4)~li{
						display: none;
					};
				}
				.pic{
					img{
						display: block;
						width: 100%;
					}
				}
				p{
					font-size: 22px;
					color: #0174b3;
					line-height: 2;
					text-align: center;
					background: #e9e9e9;
					@media(max-width:1200px){
						padding: 5px 0;
					}
					span{
						@media(max-width:1200px){
							display: block;
							line-height: 1.5;
							&+span{
								padding-left: 0;
							}
						}
						@media(max-width:768px){
							font-size: 16px;
						}
						&+span{
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
	.introduce{
		background: #f1f1f1;
		.wrap{
			border: 1px solid #dadada;
			margin-bottom: 30px;
			@media(max-width:992px){
				margin-bottom: 20px;
			}
			.i-header{
				position: relative;
				border-bottom: 2px solid #1472ad;
				background: #f4f4f4;
				h3{
					font-size: 24px;
					color: #5a5b5d;
					line-height: 46px;
					padding-left: 90px;
				}
				span{
					position: absolute;
					left: 10px;
					bottom: 5px;
					font-size: 53px;
					color: #0174b3;
					font-weight: bold;
					line-height: 1;
				}
			}
			.body{
				padding: 3%;
				font-size: 16px;
				color: #4e4d4d;
				line-height: 28px;
				background: #fff;
				p{
					a{
						color: #0174b3;
						font-weight: bold;
					}
				}
				span.blue{
					color: #0174b3;
					font-weight: bold;
				}
			}
		}
	}
	.certificate{
		padding-bottom: 5%;
		.content{
			text-align: center;
			font-size: 0;
			.pic{
				display: inline-block;
				max-width:390px;
				position: relative;
				@media(max-width:768px){
					display: block;
					margin: 0 auto;
					width: 80%;
					&+.pic{
						margin-top: 15px;
						margin-bottom: 15px;
						margin-left: auto;
					}
				}
				&+.pic{
					margin-left:5%;
				}
				.tips{
					position: absolute;
					left: 0;
					bottom: 0;
					top: 0;
					width: 15%;
					font-size: 24px;
					color: #fff;
					background: #0174b3;
					writing-mode:horizontal-tb;
					writing-mode: tb-rl;
					text-align: center;
					line-height: 2.5;
				}
				img{
					vertical-align: top;
					width: 85%;
					padding-left: 15%;
				}
			}
		}
	}
	.query{
		padding-top: 10px;
		padding-bottom: 10px;
		background:#0174b3 url(../img/hico14.png) center center no-repeat;
		h3{
			font-size: 24px;
			color: #fff;
			line-height: 2;
		}
		input{
			padding: 7px 0 7px 40px;
			font-size: 16px;
			color: #505050;
			border-radius: 5px;
			display: block;
			width: 100%;
			background:#eaeaea url(../img/hico15.png) 10px  center no-repeat;
			border: none;
			box-sizing: border-box;	
			max-width: 500px;
			margin-bottom: 10px;
		}
		input[type=submit]{
			background: none;
			max-width: 150px;
			padding: 6px 21px 6px 0;
			color: #fff;
			border: 1px solid #ffffff;
			background:url(../img/hico16.png) right 20px center no-repeat;
		}

	}
	.works{
		background: #fff;
		padding: 5% 0;
		.pic{
			img{
				display: block;
				width: 100%;
			}
		}
	}
	.course{
		padding-bottom: 40px;
		background: #f1f1f1;
		table{
			width: 100%;
			tr,,th,td{
				padding: 10px 3%;
				text-align: left;
				font-size: 18px;
				color: #3a3a3a;
				line-height: 1.5;
			}
			tr{
				background: #daf2fd;
			}
			tr:nth-child(odd){
				background: #fff;
			}
			tr.bgd81e2b{
				background: #d81e2b;
				&,th{
					font-weight: normal;
					color: #fff;
				}
			}
		}
	}
	.wonderful{
		.pic-wrap{
			margin-left: -2%;
			@media(max-width:768px){
				margin-left: -3%;
				li{
					width: 47%;
					margin-left: 3%;
					margin-bottom: 3%;
				}
			}
			li{
				float: left;
				margin-bottom: 2%;
				margin-left: 2%;
				width: 18%;
				box-sizing: border-box;
				border: 3px solid #e5e5e5;
				box-shadow: 0 0 3px #333;
				img{
					display: block;
					width: 100%;
				}
			}
		}
	}
	.steps{
		padding-bottom: 30px;
		.line{
			text-align: center;
			&:after{
				content:'';
				position: absolute;
				top: 57px;
				left: 15px;
				right: 15px;
				border-top: 3px solid #1397df;
				border-radius: 2px;
			}
			&:before{
				content:'';
				position: absolute;
				top: 283px;
				left: 15px;
				right: 15px;
				border-top: 3px solid #1397df;
				border-radius: 2px;
				visibility: hidden;
				@media(max-width:992px){
					visibility: visible;
				}
				@media(max-width:768px){
					top: 275px;
				}
			}
			.item6{
				&:after{
					content:'';
					position: absolute;
					right: 0;
					top: 57px;
					width: 18px;
					height: 33px;
					background:#fff url(../img/hico34.png) center center/100% 100% no-repeat;
					border-left-color: #1397df;
					margin-left: -18px;
					margin-top: -17px;
				}
			}
			.step{
				font-size: 40px;
				color: #1397df;
				line-height: 50px;
			}
			.round{
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background: #1397df;
				margin: 0 auto;
			}
			.pic{
				height: 70px;
				font-size: 0;
				i,img{
					display: inline-block;
					vertical-align: middle;
				}
				i{
					width: 0;
					height: 100%;
				}
				img{
					vertical-align: bottom;
				}
			}
			h3{
				font-size: 22px;
				color: #1397df;
				line-height: 2;
				@media(max-width:768px){
					font-size: 20px;
				}
			}
			.tips{
				font-size: 16px;
				color: #58595a;
				line-height: 1.5;
				@media(max-width:768px){
					font-size: 14px;
				}
			}
		}
	}
}

.footer{
	padding: 14px 0 20px;
	background: #1397df;
	.links{
		text-align: center;
		font-size: 20px;
		color: #fff;
		line-height: 50px;
		border-bottom: 1px solid #2fa4e4;
		span{
			padding: 0 10px;
		}
	}
	.copy-right{
		padding-top: 10px;
		font-size: 16px;
		color: #fff;
		line-height: 2;
		text-align: center;
		span{
			padding: 0 5px;
		}
	}
}
.fixed-left-layout,
.fixed-right-layout{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: 195px;
	background: #00a1e9;
	padding: 15px 0;
	@media(max-width:768px){
		display: none;
	}
}

.fixed-left-layout{
	border-radius: 0 10px 10px 0;
	left: 0;
	text-align: center;
	h3{
		font-size: 16px;
		color: #fff;
		text-align: center;
	}
	.pic{
		padding: 10px 0 11px;
		img{
			display: block;
			margin: 0 auto;
			max-width:195px;
		}
	}
	.tel{
		display: inline-block;
		padding-left: 30px;
		font-size: 22px;
		color: #fff;
		line-height: 2;
		background:url(../img/tel.png) left center no-repeat;
	}
	input{
		margin: 10px 0;
		width: 150px;
		height: 34px;
		border-radius: 5px;
	}
	.text{
		width: 150px;
		height: 34px;
		line-height: 34px;
		padding-left: 5px;
		background: #fff;
		outline: none;
		border: none;
		&:placeholder{
			font-family: 'microsoft yahei';
		}
	}
	.submit{
		border: 1px solid #fff;
		background: none;
		color: #fff;
		font-size: 20px;
	}
}
.fixed-right-layout{
	right: 0;
	text-align: center;
	border-radius: 10px 0 0 10px;
	.pic{
		img{
			display: block;
			margin: 0 auto;
		}
	}
	h3{
		padding-top: 10px;
		font-size: 20px;
		color: #fff;
		line-height: 1.5;
	}
	h4{
		padding-bottom: 5px;
		font-size: 20px;
		color: #fff;
		line-height: 1.5;
		font-weight: bold;
	}

	input{
		margin: 10px 0;
		width: 150px;
		height: 34px;
		border-radius: 5px;
	}
	.text{
		width: 150px;
		height: 34px;
		line-height: 34px;
		padding-left: 5px;
		background: #fff;
		outline: none;
		border: none;
		&:placeholder{
			font-family: 'microsoft yahei';
		}
	}
	.submit{
		border: 1px solid #fff;
		background: none;
		color: #fff;
		font-size: 20px;
	}
}
